@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Section 1 */

body{
    font-family: 'Roboto',sans-serif;
}
.name{
    font-size: large;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding:15px;
    background-color: #1f2937;
}

.main {
    background-color: #1f2937;
    color: #f9faf8;
    height:500px;
}

h1{
    font-size:48px;
}

.nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.main-content{
    margin-top:140px;
    margin-left:500px;
    text-align:center;
    width:600px;
    height:400px;
    background-color: #1f2937;
}
.main img{
    margin:-220px;
    margin-left:655px;
    border: 3px solid #c1c3c7;
    height:395px;
    width:345px;
}
.main-info{
    display:flex;
    flex-direction:column;
    
}
/* Section 2 */

.About-me{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
    background-color:#e5e7eb;

}

.about-info{
    padding:20px;
    text-align:center;
    background-color: #d9dbde;
    width:700px;
    border: 2px solid #c1c3c7;
  
}
/* Section 3 */ 


.cooking{
    display:flex;
    flex-direction:column;
    padding:25px;
    height:400px;
}

.cooking-header{
    width:800px;
    text-align:center;
    margin-left:500px;
    margin-top:50px
}

.cooking-pics{
    display:flex;
    gap:50px;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}


.meals img{
    display:block;
    height:230px;
    width:250px;
    border: 6px solid #c1c3c7;
}