.header{
    background-color: #bbc4cc;
    height: 50px;
    text-align: center;
    line-height: 25px;
}
#header-title{
    color: whites;
    font-family:Helvetica;
    text-align: left;
    font-size: x-large;
    padding: 15px;
    letter-spacing: 0.1em;
} 
#nav{
    text-align:right;
    position:relative;
    letter-spacing:0.1em;
    bottom: 24px;
  }
#footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555555;
  color: white;
  
}
#footer p{
    text-align: center;
    font-size: large;
    font-family:Helvetica;
    letter-spacing: 0.1em;
}
#contact{
    text-decoration: underline;
}
body{
    background-color: #e5e4e2;
}
#face{
    width: 260px;
    height: 360px;
    position: absolute;
    border-radius: 5%;
    top: 90px;
    right:10px;   
}
#content a {
    position: relative;
    font-size: xxx-large;
    letter-spacing: 0.1em;
    right:90px;
    top:120px;
    font-family:serif;
}
#content :nth-child(3) {
    color: #b3b3b3;
}
#background h1{
    letter-spacing:0.1em;
    position:relative;
    top:100px;
    text-align:left;
    top:250px;
}
#background p{
    font-family:Helvetica;
    position:relative;
    top:100px;
    text-align:left;
    top:260px;
}