.header{
    background-color: #bbc4cc;
    height: 50px;
    text-align: center;
    line-height: 25px;
}
#header-title{
    color: whites;
    font-family:Helvetica;
    text-align: left;
    font-size: x-large;
    padding: 15px;
    letter-spacing: 0.1em;
} 
#footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bbc4cc;
  color: white;
  
}
div#contact{
    text-align: center;
    font-family:Helvetica;
    font-size: x-large;
    padding: 15px;
    letter-spacing: 0.1em;
}
body{
    background-color: #e5e4e2;
}